Repository browserbase/stagehand, pull requests merged in 2025-04, with the labels that each got.

#636 token usage for act
  .changeset/dirty-garlics-wonder.md
  lib/handlers/actHandler.ts
  lib/handlers/observeHandler.ts
  lib/inference.ts
Labels: act

#683 use js click instead of playwright
  .changeset/green-signs-live.md
  evals/evals.config.json
  evals/tasks/checkboxes.ts
  evals/tasks/radio_btn.ts
  lib/handlers/handlerUtils/actHandlerUtils.ts
  types/stagehandErrors.ts
Labels: act

#678 set `force: true` for `locator.fill`
  .changeset/sweet-glasses-hope.md
  evals/evals.config.json
  evals/tasks/dropdown.ts
  lib/handlers/handlerUtils/actHandlerUtils.ts
Labels: act

#705 remove old observation map
  .changeset/loose-cooks-lead.md
  lib/handlers/observeHandler.ts
Labels: observe

#710 support for targeted extract with domExtract
  .changeset/upset-lizards-smell.md
  .github/workflows/ci.yml
  evals/evals.config.json
  evals/tasks/extract_hamilton_weather.ts
  lib/StagehandPage.ts
  lib/a11y/utils.ts
  lib/handlers/extractHandler.ts
Labels: targeted-extract
