Repository browserbase/stagehand, pull requests merged in 2025-07, with the labels that each got.

#842 add native `selectOptionFromDropdown`
  .changeset/swift-jokes-write.md
  evals/evals.config.json
  evals/tasks/custom_dropdown.ts
  evals/tasks/hidden_input_dropdown.ts
  evals/tasks/os_dropdown.ts
  lib/a11y/utils.ts
  lib/handlers/handlerUtils/actHandlerUtils.ts
  lib/prompt.ts
  types/act.ts
Labels: parity

#882 filter out elements that don't have an associated xpath
  .changeset/cold-pumas-accept.md
  lib/handlers/observeHandler.ts
Labels: act, observe

#905 removed all images except the latest two in AnthropicCuaClient
  .changeset/fresh-papayas-beam.md
  lib/agent/AgentProvider.ts
  lib/agent/AnthropicCUAClient.ts
  lib/agent/imageCompressionUtils.ts
  lib/handlers/agentHandler.ts
  lib/index.ts
  types/agent.ts
Labels: parity

#920 [api] update root frame ID on init
  .changeset/clean-olives-wash.md
  lib/StagehandContext.ts
  lib/StagehandPage.ts
Labels: act, extract, observe, targeted-extract
