Repository browserbase/stagehand, pull requests merged in 2025-02, with the labels that each got.

#454 js function declared as string
  lib/a11y/utils.ts
Labels: observe

#458 A11y empty xpath fix
  .changeset/gentle-pans-mix.md
  lib/a11y/utils.ts
  lib/handlers/observeHandler.ts
Labels: observe

#459 Hybrid of a11y tree & DOM for input to observe
  .changeset/chilled-apes-sneeze.md
  lib/a11y/utils.ts
  lib/handlers/observeHandler.ts
  lib/prompt.ts
  types/context.ts
Labels: observe

#470 dont run domExtract on text_extract eval set in CI
  .github/workflows/ci.yml
Labels: text-extract

#476 `drawOverlay` observe option
  lib/StagehandPage.ts
  lib/handlers/observeHandler.ts
  lib/utils.ts
  types/stagehand.ts
Labels: enhancement, combination

#480 added fallback try to actFromObserveResult
  .changeset/gentle-grapes-join.md
  lib/StagehandPage.ts
  lib/handlers/actHandler.ts
  lib/index.ts
  types/stagehand.ts
Labels: act, observe

#487 update refine extraction prompt
  .changeset/healthy-cups-play.md
  lib/prompt.ts
Labels: extract, text-extract

#500 added iframes as the last observeResult on pages with 1+ iframes
  .changeset/odd-eggs-bake.md
  evals/evals.config.json
  evals/tasks/observe_iframes1.ts
  evals/tasks/observe_iframes2.ts
  lib/a11y/utils.ts
  lib/handlers/observeHandler.ts
  types/context.ts
Labels: observe

#483 xpath -> extract
  .changeset/cuddly-bulldogs-juggle.md
  evals/evals.config.json
  evals/tasks/extract_hamilton_weather.ts
  evals/tasks/extract_regulations_table.ts
  lib/StagehandPage.ts
  lib/dom/DomChunk.ts
  lib/dom/ElementContainer.ts
  lib/dom/GlobalPageContainer.ts
  lib/dom/StagehandContainer.ts
  lib/dom/candidateCollector.ts
  lib/dom/debug.ts
  lib/dom/elementCheckUtils.ts
  lib/dom/global.d.ts
  lib/dom/process.ts
  lib/dom/utils.ts
  lib/dom/xpathUtils.ts
  lib/handlers/extractHandler.ts
  types/stagehand.ts
Labels: act, extract, observe, text-extract

#518 use observe in act
  .changeset/wild-hats-turn.md
  evals/tasks/nonsense_action.ts
  evals/tasks/simple_google_search.ts
  lib/StagehandPage.ts
  lib/handlers/actHandler.ts
  package.json
  types/act.ts
  types/stagehand.ts
Labels: act, combination

#506 fixing 5s timeout on actHandler
  .changeset/calm-bags-own.md
  examples/accessibility_test.ts
  lib/handlers/actHandler.ts
Labels: act, observe

#535 added actOptions to the input of observe->act
  .changeset/curly-tomatoes-laugh.md
  evals/tasks/peeler_complex.ts
  examples/accessibility_test.ts
  lib/StagehandPage.ts
  lib/handlers/actHandler.ts
  lib/prompt.ts
Labels: act
