Repository browserbase/stagehand, pull requests merged in 2025-03, with the labels that each got.

#508 stagehand.context pages as stagehand pages and supporting more than one page
  .changeset/empty-singers-warn.md
  evals/deterministic/tests/BrowserContext/multiPage.test.ts
  lib/StagehandContext.ts
  lib/StagehandPage.ts
  lib/index.ts
  types/context.ts
Labels: act, extract, observe

#550 make slow act the default
  .changeset/wild-hats-turn.md
  lib/StagehandPage.ts
  types/stagehand.ts
Labels: combination

#556 Add a timeout to dom based act
  .changeset/small-zebras-jog.md
  .changeset/wild-hats-turn.md
  evals/evals.config.json
  evals/initStagehand.ts
  evals/tasks/expect_act_timeout.ts
  evals/tasks/expect_act_timeout_global.ts
  examples/example.ts
  lib/StagehandPage.ts
  lib/handlers/actHandler.ts
  lib/index.ts
  stagehand.config.ts
  types/stagehand.ts
Labels: act

#544 `extract()` -> full page text
  .changeset/seven-glasses-drop.md
  lib/StagehandPage.ts
  lib/handlers/extractHandler.ts
  types/page.ts
Labels: extract, text-extract

#543 evals CLI update
  evals/args.ts
  evals/index.eval.ts
Labels: act, extract, observe, text-extract

#562 add targeted extract evals
  .github/workflows/ci.yml
  evals/args.ts
  evals/evals.config.json
  evals/tasks/extract_aigrant_targeted.ts
  evals/tasks/extract_aigrant_targeted_2.ts
  evals/tasks/extract_geniusee.ts
  evals/tasks/extract_geniusee_2.ts
  evals/tasks/extract_recipe.ts
  types/evals.ts
Labels: targeted-extract

#573 return act result in actFromObserve
  .changeset/twenty-cooks-perform.md
  lib/handlers/actHandler.ts
Labels: act, observe

#576 wait for page navigation after key press
  lib/handlers/actHandler.ts
Labels: act, observe

#563 support scrolling
  .changeset/plenty-ties-float.md
  evals/evals.config.json
  evals/tasks/scroll_50.ts
  evals/tasks/scroll_75.ts
  lib/dom/process.ts
  lib/dom/utils.ts
  lib/handlers/actHandler.ts
  lib/prompt.ts
  types/act.ts
Labels: act

#580 refactor _performPlaywrightMethod
  .changeset/all-dots-shop.md
  lib/handlers/actHandler.ts
  lib/handlers/handlerUtils/actHandlerUtils.ts
  types/act.ts
  types/log.ts
Labels: act, observe

#594 pass `observeHandler` into `actHandler`
  .changeset/cool-lemons-report.md
  lib/StagehandPage.ts
  lib/handlers/actHandler.ts
Labels: act, observe, combination

#600 add `history` primitive
  .changeset/empty-spoons-float.md
  evals/evals.config.json
  evals/tasks/history.ts
  lib/StagehandPage.ts
  lib/index.ts
  types/stagehand.ts
Labels: combination

#601 custom error classes
  .changeset/four-hoops-mix.md
  evals/index.eval.ts
  evals/taskConfig.ts
  evals/tasks/peeler_simple.ts
  examples/external_clients/ollama.ts
  lib/StagehandPage.ts
  lib/agent/AgentProvider.ts
  lib/agent/AnthropicCUAClient.ts
  lib/agent/OpenAICUAClient.ts
  lib/api.ts
  lib/dom/process.ts
  lib/dom/utils.ts
  lib/handlers/actHandler.ts
  lib/handlers/operatorHandler.ts
  lib/index.ts
  lib/llm/AnthropicClient.ts
  lib/llm/CerebrasClient.ts
  lib/llm/GroqClient.ts
  lib/llm/LLMProvider.ts
  lib/llm/OpenAIClient.ts
  types/stagehandApiErrors.ts
  types/stagehandErrors.ts
Labels: act, extract, observe, combination, text-extract, targeted-extract

#609 Clean up deprecated fields from stagehand.ts and allow CDP parameterization
  .changeset/shaggy-mails-march.md
  evals/deterministic/stagehand.config.ts
  evals/deterministic/tests/browserbase/sessions.test.ts
  evals/deterministic/tests/local/create.test.ts
  evals/tasks/expect_act_timeout.ts
  evals/tasks/expect_act_timeout_global.ts
  evals/tasks/extract_zillow.ts
  evals/tasks/nextChunk.ts
  evals/tasks/prevChunk.ts
  evals/tasks/scroll_50.ts
  evals/tasks/scroll_75.ts
  examples/2048.ts
  examples/debugUrl.ts
  examples/parameterizeApiKey.ts
  lib/StagehandPage.ts
  lib/handlers/actHandler.ts
  lib/index.ts
  package-lock.json
  package.json
  stagehand.config.ts
  types/stagehand.ts
Labels: act

#612 Rm old act logic
  .changeset/ripe-lands-jump.md
  lib/StagehandPage.ts
  lib/handlers/actHandler.ts
  lib/index.ts
  lib/inference.ts
  lib/prompt.ts
  types/stagehand.ts
Labels: act, combination

#617 a11y extract
  .changeset/forty-symbols-crash.md
  lib/handlers/extractHandler.ts
Labels: extract
