Repository browserbase/stagehand, pull requests merged in 2025-01, with the labels that each got.

#365 filter eval triggers
  .github/workflows/ci.yml
Labels: act

#374 support popups
  .changeset/few-elephants-cough.md
  .gitignore
  evals/deterministic/tests/page/on.test.ts
  examples/popup.ts
  lib/StagehandPage.ts
  lib/handlers/actHandler.ts
  package.json
  types/page.ts
Labels: enhancement, act, combination

#378 load env on local e2e
  evals/deterministic/stagehand.config.ts
Labels: enhancement

#383 Refactor LLM Types
  .changeset/calm-teachers-rescue.md
  examples/external_clients/ollama.ts
  lib/handlers/actHandler.ts
  lib/inference.ts
  lib/llm/AnthropicClient.ts
  lib/llm/LLMClient.ts
  lib/llm/OpenAIClient.ts
  lib/prompt.ts
  types/llm.ts
  types/model.ts
Labels: enhancement, combination

#367 LLMClient default inherits logger from Stagehand (#366)
  .changeset/mean-swans-fix.md
  examples/external_client.ts
  examples/external_clients/ollama.ts
  lib/index.ts
  lib/llm/AnthropicClient.ts
  lib/llm/LLMProvider.ts
  lib/llm/OpenAIClient.ts
Labels: combination

#385 Pass LLM logger in createChatCompletion
  .changeset/soft-snails-lick.md
  examples/external_client.ts
  examples/external_clients/ollama.ts
  lib/handlers/extractHandler.ts
  lib/handlers/observeHandler.ts
  lib/index.ts
  lib/inference.ts
  lib/llm/AnthropicClient.ts
  lib/llm/LLMClient.ts
  lib/llm/OpenAIClient.ts
  lib/prompt.ts
Labels: enhancement, combination

#382 Vercel ai sdk impl
  .changeset/shiny-ladybugs-shave.md
  examples/ai_sdk_example.ts
  examples/external_clients/aisdk.ts
  lib/index.ts
  package-lock.json
  package.json
Labels: enhancement, combination

#373 allow `systemPrompt` input
  .changeset/sweet-mice-compare.md
  evals/evals.config.json
  evals/initStagehand.ts
  evals/tasks/instructions.ts
  examples/instructions.ts
  lib/StagehandPage.ts
  lib/handlers/actHandler.ts
  lib/handlers/extractHandler.ts
  lib/handlers/observeHandler.ts
  lib/index.ts
  lib/inference.ts
  lib/llm/AnthropicClient.ts
  lib/llm/LLMClient.ts
  lib/prompt.ts
  package.json
  types/act.ts
  types/stagehand.ts
Labels: enhancement, combination

#397 rm/replace flakey evals
  evals/evals.config.json
  evals/tasks/extract_csa.ts
  evals/tasks/extract_regulations.ts
  evals/tasks/ibm.ts
Labels: extract, text-extract

#399 update expected value
  evals/tasks/extract_csa.ts
Labels: extract, text-extract

#403 update expected value
  evals/tasks/extract_press_releases.ts
Labels: text-extract

#362 Fix text extract collisions
  .changeset/nervous-trees-study.md
  lib/handlers/extractHandler.ts
  lib/utils.ts
Labels: extract, text-extract

#409 update `extract_press_releases`
  evals/deterministic/tests/page/waitFor.test.ts
  evals/tasks/extract_press_releases.ts
Labels: text-extract

#411 queue jobs based on labels: dont run concurrently
  .github/workflows/ci.yml
Labels: act, extract

#414 update expected value
  evals/tasks/extract_csa.ts
Labels: text-extract

#415 Replace extract_research_reports with cloned static site
  evals/evals.config.json
  evals/tasks/extract_jstor_news.ts
Labels: text-extract

#417 simplify stagehand method calls
  .changeset/hungry-scissors-mix.md
  evals/evals.config.json
  evals/tasks/arxiv.ts
  evals/tasks/expedia.ts
  evals/tasks/extract_repo_name.ts
  evals/tasks/google_jobs.ts
  evals/tasks/homedepot.ts
  evals/tasks/wikipedia.ts
  lib/StagehandPage.ts
  types/page.ts
Labels: enhancement, act, extract, observe, combination

#405 Scroll on 'main scrollable element' when possible
  .changeset/stupid-starfishes-type.md
  evals/evals.config.json
  evals/tasks/extract_apartments.ts
  evals/tasks/extract_zillow.ts
  lib/dom/ElementContainer.ts
  lib/dom/GlobalPageContainer.ts
  lib/dom/StagehandContainer.ts
  lib/dom/containerFactory.ts
  lib/dom/global.d.ts
  lib/dom/process.ts
  lib/dom/utils.ts
  lib/handlers/actHandler.ts
Labels: act, extract, observe, combination, text-extract

#420 Update README to reflect new syntax
  README.md
Labels: documentation

#422 Patch for type builds
  .changeset/poor-numbers-bake.md
  lib/handlers/observeHandler.ts
Labels: observe

#429 more eval maintenance
  evals/tasks/extract_repo_name.ts
  evals/tasks/extract_staff_members.ts
Labels: extract, text-extract

#428 Remove vision
  .changeset/tame-gifts-fail.md
  .github/workflows/ci.yml
  lib/StagehandPage.ts
  lib/handlers/actHandler.ts
  lib/handlers/observeHandler.ts
  lib/inference.ts
  lib/prompt.ts
  lib/vision.ts
  package-lock.json
  package.json
  types/act.ts
  types/inference.ts
  types/stagehand.ts
Labels: act, extract, observe, text-extract

#441 Allow `act` to accept an `ObserveResult`
  .changeset/ninety-drinks-warn.md
  examples/actionable_observe_example.ts
  lib/StagehandPage.ts
  lib/handlers/actHandler.ts
  package.json
  types/page.ts
Labels: act
