Repository browserbase/stagehand, pull requests merged in 2025-06, with the labels that each got.

#778 iframes
  .changeset/sixty-bikes-grab.md
  docs/reference/act.mdx
  docs/reference/extract.mdx
  docs/reference/observe.mdx
  evals/evals.config.json
  evals/initStagehand.ts
  evals/tasks/iframe_form_filling.ts
  evals/tasks/iframe_hn.ts
  evals/tasks/iframe_same_proc.ts
  evals/tasks/iframes_nested.ts
  lib/StagehandPage.ts
  lib/a11y/utils.ts
  lib/handlers/actHandler.ts
  lib/handlers/extractHandler.ts
  lib/handlers/handlerUtils/actHandlerUtils.ts
  lib/handlers/observeHandler.ts
  lib/inference.ts
  lib/utils.ts
  pnpm-lock.yaml
  types/context.ts
  types/stagehand.ts
  types/stagehandErrors.ts
Labels: act, extract, observe, combination, targeted-extract

#826 trim `/text()[1]` from xpaths
  .changeset/brave-taxes-yell.md
  lib/handlers/observeHandler.ts
  lib/utils.ts
Labels: act, observe, combination, targeted-extract

#846 Filter attaching to shared worker
  .changeset/upset-socks-hang.md
  lib/StagehandPage.ts
Labels: combination
